@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* @import "tailwindcss"; */

:root {
  font-family: "Inter", sans-serif;

  --primary: #5b21b6;
  --primary-dark: #2e1065;
  --primary-light: #ede9fe;
  --primary-soft: #f5f3ff;
  --primary-hey:#6D28D9;
  --primary-lavender:#A78BFA;

  --text-dark: #0f1028;
  --text-muted: #6b7280;

  --white: #ffffff;
  --bg-light: #fafafa;
  --border-light: #e5e7eb;

  --success: #22c55e;
  --danger: #ef4444;

  --footer-bg: #070b1f;
  --footer-card: #111032;
  
   --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;

  --container-padding: 6%;
  --container-max: 1200px;

  --font--primary: 'Inter', sans-serif;
  --text-weight-regular: 400;
  --text-weight:600;

  color: var(--text-dark);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--white);
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}